.h-container {
    margin-top: 2vh;
    background-color: rgba(25, 25, 28, 255);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 80%;
    height: 70%;
}

.h-logo {
    background-color: red;
}

.h-feature {
    background-color: blue;
}